html{
    font-family: "courier new", "times new roman", serif;
    font-size: calc(13px + 0.4vw);
    scroll-behavior: smooth;
    font-size: clamp(12px, 3vw, 16px)
}
#polyhedralDiceSalesMan{
    font-size:.65em;
    color: black;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    font-style: italic;
}

figcaption {
    margin-top: 5px;
    font-style: italic;
}

#navFlex a.current {
    background-color: rgb(202, 48, 17);
    color: black;
    border-color: black;
}

#navFlex a:hover {
    background-color: rgb(202, 48, 17);
    color: black;
    border-color: black;
}

article:first-letter{
    font-size: 3em;
    color: red;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

body {
    background-color: rgb(254, 218, 180);
}

footer {
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: white;
}

.arial{
    font-family: "arial", helvetica, sans-serif;
    text-align: center;
}

.itemCard {
    width: 300px;
    height: auto;
}
.required{
    color: red;
}

table.equipmentTable{
    margin: 4em;
    border-style:solid;
    border-color: rgb(0, 0, 0);
    border-width: .5em;
    align-content: center;
}

 table.equipmentTable th, table.equipmentTable td {
    padding: .5em;
    border-style:solid;
    border-color: black;
}
table.equipmentTable th:nth-child(odd), table.equipmentTable td:nth-child(odd){
    background-color: rgb(134, 110, 83);
    color: white;
}

table.equipmentTable th {
    font-size: 1em;
}

table.equipmentTable th.TitleOfTable{
    background-color: rgb(254, 218, 180);
    color: black;
    font-size: 2em;
}